<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TestTerminal.Properties.Settings>
            <setting name="cbb_baud_rate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="window_size" serializeAs="String">
                <value>700, 500</value>
            </setting>
            <setting name="window_state" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="chart_dock_state" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chart_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbb_com_port" serializeAs="String">
                <value>0</value>
            </setting>
        </TestTerminal.Properties.Settings>
    </userSettings>
</configuration>